body {
  height: 100vh;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
nav ul li {
  margin-right: 30px;;
}
h1  {
  text-align: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;align-items: center;
}